@import "../resets";

@media only screen and (max-width: 1200px){

    .service-container{
        .upper-section{

            .intro{
                padding: 0 15em;
            }

            .cards-container{
                gap: 1.5em;

                .card{
                    width: 18em;
                    height: 18em;
                }
            }

        }
    }
}

@media only screen and (max-width: 900px){

    .service-container{
        .upper-section{
            .intro{
                padding: 0 5em;
                gap: 0.3em;
                h2{
                    font-size: 1.5em !important;
                }
                h4{
                    font-size: 0.9em;
                }
            }
        }

        .lower-section{
            .splide__slide{
                padding: 0 4em;
            }
        }
    }
    
}

@media only screen and (max-width: 700px){
    .service-container{
        .upper-section{
            padding: 2em 0;
            .cards-container{
                .card{
                    width: 15em;
                    height: 15em;
                    row-gap: 0.7em;
                    padding: 0 0.4em;

                    span{
                        font-size: 1.6em;
                    }
                    h2{
                        font-size: 1.5em;
                    }
                    p{
                        font-size: 0.9em;
                    }
                }
            }
        }

        .lower-section{
            padding: 2em 0;

            .splide__slide{
                padding: 0 2em;

                img{
                    width: 5em !important;
                    height: 5em !important;
                }

                h2{
                    font-size: 1.2em;
                }
                h3{
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px){

    .service-container{
        .upper-section{
            .intro{
                padding: 0 1em;
                margin-bottom: 1em;
            }
        }
    }

}